<h1>Click an Animal To View It</h1>
<%= link_to 'Add Animal', new_zoo_animal_path(@zoo) %>
<ul>
  <% @animals.each do |animal| %>
    <li><%= link_to animal.name, [@zoo, animal] %></li>
  <% end %>
</ul>